<p-dataView #dv [value]="adversaries" [rows]="5" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder">
    <ng-template pTemplate="header">

        <p-dropdown [options]="tiersOptions" [showClear]="true" [(ngModel)]="tier" placeholder="Tier"
            styleClass="mb-2 md:mb-0 mr-2" (onChange)="onFilter()"></p-dropdown>

        <p-dropdown [options]="typeOptions" [showClear]="true" [(ngModel)]="type" placeholder="Type"
            styleClass="mb-2 md:mb-0 mr-2" (onChange)="onFilter()"></p-dropdown>

    </ng-template>
    <ng-template pTemplate="list" let-products>

        <div class="grid grid-nogutter">
            <div class="col-12 " *ngFor="let item of products; let first = first">
                <div class="grid p-2" [ngClass]="{ 'border-top-1 surface-border': !first }">

                    <div class="col-3 ">
                        <p-tag>{{item.tier}}</p-tag>
                        <span class="font-medium text-secondary text-sm ml-2">{{ item.type }}</span>
                        <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                    </div>
                    <div class="col-8 align-items-center ">
                        <span class="font-medium text-secondary text-sm">{{ item.shortDescription }}</span>
                    </div>
                    <div class="col-1 flex">
                        <div class="align-content-end">

                        </div>
                        <dh-add-to-encounter [element]="item" [long]="false"></dh-add-to-encounter>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>
</p-dataView>