@if (adversary) {

<p-card [header]="adversary.name" [subheader]="adversary.type">

    <p><p-tag class="tier">{{adversary.tier}}</p-tag></p>
    <p>
        {{adversary.shortDescription}}
    </p>

    <p-fieldset class="mb-2" [toggleable]="true">

        <p>
            <b>{{adversary.weapon.name}}:</b> {{adversary.weapon.range}} - {{adversary.weapon.damage}}<br />
            <b>Attack modifier</b> <p-tag value="{{adversary.attackModifier}}" /><br />
            <span>
                <b>Difficulty</b> <p-tag value="{{adversary.difficulty}}" />
            </span>
        </p>

        <p><b>Motives & Tactics</b><br />
            @for (mat of adversary.motivesAndTactics; track $index) {
            {{mat}},
            }
        </p>

    </p-fieldset>

    <p-fieldset legend="Features" class="mb-1" [toggleable]="true">
        @for (feat of adversary.features; track $index) {
        <p>
            <span>
                <b>
                    {{feat.name}}
                    @if(feat.value){
                    ({{feat.value}})
                    }
                </b>
                - {{feat.type}}
            </span>
            <br />
            @if (feat.cost && feat.cost.stress ) {
            Stress cost : {{feat.cost.stress}} <br />
            }
            @if (feat.cost && feat.cost.fear ) {
            Fear : {{feat.cost.fear}}<br />
            }
            @if (feat.cost && feat.cost.actions ) {
            Actions : {{feat.cost.actions}}<br />
            }
            @if (feat.uses ) {
            Uses : {{feat.uses}}<br />
            }


        </p>
        <p>

            {{feat.description}}
        </p>
        <p-divider />
        }

    </p-fieldset>

    <p-fieldset legend="HP" class="mb-1" [toggleable]="true">
        <div class="flex flex-row flex-nowrap gap-1">
            <div class="flex flex-column align-items-left justify-content-center gap-1">
                <div>HP : </div>
                <div>Stress : </div>
            </div>
            <div class="flex flex-column align-items-left justify-content-center gap-1">
                <p-tag severity="contrast">{{adversary.hitPoints}}</p-tag>
                <p-tag severity="contrast">{{adversary.stress}}</p-tag>
            </div>
            <div class="flex align-items-center justify-content-center ml-3">

                <dh-damage-thresholds [element]="adversary.damageThresholds"></dh-damage-thresholds>
            </div>
        </div>
        <ng-content select="[gauges]"></ng-content>
    </p-fieldset>

    <ng-template pTemplate="footer">

    </ng-template>
</p-card>

}