@if (element) {
<p-scrollPanel [style]="{ width: '100%', height: '600px' }">


    <p-card [subheader]="element.type">

        <ng-template pTemplate="header">
            <p class="p-card-body p-card-title title">
                <p-tag class="tier">{{element.tier}}</p-tag>
                {{element.name}}
            </p>
        </ng-template>
        <p>
            {{element.shortDescription}}
        </p>

        <p-fieldset>

            <p>
                <b>{{element.weapon.name}}:</b> {{element.weapon.range}} - {{element.weapon.damage}}<br />
                <b>Attack modifier</b> <p-tag value="{{element.attackModifier}}" /><br />
                <span>
                    <b>Difficulty</b> <p-tag value="{{element.difficulty}}" />
                </span>
            </p>

            <p><b>Motives & Tactics</b><br />
                @for (mat of element.motivesAndTactics; track $index) {
                {{mat}},
                }
            </p>

        </p-fieldset>

        <p-fieldset legend="Features">
            @for (feat of element.features; track $index) {
            <p>
                <span>
                    <b>
                        {{feat.name}}
                        @if(feat.value){
                        ({{feat.value}})
                        }
                    </b>
                    - {{feat.type}}
                </span>
                <br />
                @if (feat.cost && feat.cost.stress ) {
                Stress cost : {{feat.cost.stress}} <br />
                }
                @if (feat.cost && feat.cost.fear ) {
                Fear : {{feat.cost.fear}}<br />
                }
                @if (feat.cost && feat.cost.actions ) {
                Actions : {{feat.cost.actions}}<br />
                }
                @if (feat.uses ) {
                Uses : {{feat.uses}}<br />
                }


            </p>
            <p>

                {{feat.description}}
            </p>
            <p-divider />
            }

        </p-fieldset>

        <p-fieldset legend="HP & Stress">
            @for (tracker of trackers; track $index) {
            <h4>{{element.name}} #{{$index+1}}</h4>
            HP : <dh-gage [max]="element.hitPoints" [(model)]="trackers[$index].hp" /><br />
            Stress : <dh-gage [max]="element.stress" [(model)]="trackers[$index].stress" /><br />
            <p-divider />
            }
        </p-fieldset>

        <ng-template pTemplate="footer">

        </ng-template>
    </p-card>
</p-scrollPanel>
}