@if (adversary) {

<p-card [header]="adversary.name" [subheader]="adversary.type">

    <p><p-tag class="tier">{{adversary.tier}}</p-tag></p>
    <p>
        {{adversary.shortDescription}}
    </p>

    <p-fieldset class="mb-2">

        <p>
            <b>{{adversary.weapon.name}}:</b> {{adversary.weapon.range}} - {{adversary.weapon.damage}}<br />
            <b>Attack modifier</b> <p-tag value="{{adversary.attackModifier}}" /><br />
            <span>
                <b>Difficulty</b> <p-tag value="{{adversary.difficulty}}" />
            </span>
        </p>

        <p><b>Motives & Tactics</b><br />
            @for (mat of adversary.motivesAndTactics; track $index) {
            {{mat}},
            }
        </p>

    </p-fieldset>

    <p-fieldset legend="Features" class="mb-1">
        @for (feat of adversary.features; track $index) {
        <p>
            <span>
                <b>
                    {{feat.name}}
                    @if(feat.value){
                    ({{feat.value}})
                    }
                </b>
                - {{feat.type}}
            </span>
            <br />
            @if (feat.cost && feat.cost.stress ) {
            Stress cost : {{feat.cost.stress}} <br />
            }
            @if (feat.cost && feat.cost.fear ) {
            Fear : {{feat.cost.fear}}<br />
            }
            @if (feat.cost && feat.cost.actions ) {
            Actions : {{feat.cost.actions}}<br />
            }
            @if (feat.uses ) {
            Uses : {{feat.uses}}<br />
            }


        </p>
        <p>

            {{feat.description}}
        </p>
        <p-divider />
        }

    </p-fieldset>

    <ng-template pTemplate="footer">

    </ng-template>
</p-card>

}