<div>
    <ng-container *ngIf="!isOnline; else online">
        <form (submit)="join()">
            <h3>Join chat</h3>
            <input pInputText type="text" [(ngModel)]="userName" name="name" placeholder="Name">
            <p-button type="submit" class="ml-1">Enter</p-button>
        </form>
    </ng-container>

    <ng-template #online>

        <dh-chat [userName]="userName!" />
        <p-button styleClass="mt-2" severity="secondary" (click)="exit()">EXIT</p-button>

    </ng-template>
</div>