<div class="messages mb-2">
    <p-scrollPanel #chatbox [style]="{ width: '100%', height: '600px' }">
        @for (msg of messages; track $index) {
        <dh-chat-message [message]="msg" />
        }
        <div id="chatBottom"></div>
    </p-scrollPanel>
</div>

<form class=" " (submit)="sendMessage()">
    <p-inputGroup>
        <input type="text" pInputText name="messageInput" [(ngModel)]="messageInput" pAutoFocus [autofocus]="true" />
        <button pButton type="submit">Send</button>
    </p-inputGroup>
</form>

@if (diceForm) {
<p-divider />
<form class="form" [formGroup]="diceForm">

    <p-inputGroup>
        <p-inputGroupAddon>
            <p-triStateCheckbox formControlName="advantage" inputId="checked" checkboxFalseIcon="pi pi-thumbs-down"
                checkboxTrueIcon="pi pi-thumbs-up" />
        </p-inputGroupAddon>
        <input type="number" formControlName="modifier" style="width: 50px;" />
        <button pButton (click)="sendDH12Roll()">Dual</button>
        <button pButton (click)="sendD20Roll()">D20</button>
    </p-inputGroup>
</form>
}