<div class="{{critical}}">
    <p-card styleClass="mb-2 ">
        @if (message.roll) {
        @if (message.roll.type === 'DH_12') {

        <dh-dice-result-message [message]="message" [roll]="message.roll"></dh-dice-result-message>

        }
        @else {
        {{message.sender}} rolled a <b>{{message.roll.total}}</b> on a D20
        }
        }

        @else {
        <p>
            <b>
                {{message.sender}}:<br />

            </b>
            {{message.message}}
        </p>
        }

    </p-card>
</div>