<div class="grid">
    <div class="col-8 adversaries">

        <dh-adversary-list></dh-adversary-list>
    </div>

    <div class="col-4 ">

        <div style="margin-bottom:5rem"></div>
        <p-dataView #dv [value]="elements" [rows]="9" [paginator]="true">

            <ng-template pTemplate="list" let-encounters>

                <div class="grid grid-nogutter">
                    <div class="col-12" *ngFor="let encounter of encounters; let first = first" class="col-12">
                        <div class="flex flex-column sm:flex-row sm:align-items-center p-2 gap-3"
                            [ngClass]="{ 'border-top-1 surface-border': !first }">

                            <div
                                class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap">
                                    <div>

                                        <div class="text-lg font-medium text-900 mt-2">{{ encounter.adversaryName }}
                                        </div>
                                    </div>

                                </div>

                                <div class="actions flex flex-column md:align-items-end gap-5">

                                    <div class="flex flex-row-reverse md:flex-row gap-2">
                                        <p-buttonGroup>

                                            <p-button severity="info" size="small" (onClick)="decSize(encounter.id)"><i
                                                    class="pi pi-minus"></i></p-button>
                                            <p-button severity="secondary"
                                                size="small">{{encounter.trackers?.length}}</p-button>
                                            <p-button severity="info" size="small" (onClick)="incSize(encounter.id)"><i
                                                    class="pi pi-plus"></i>
                                            </p-button>
                                            <p-button severity="danger" size="small" (onClick)="remove(encounter.id)"><i
                                                    class="pi pi-ban"></i></p-button>
                                        </p-buttonGroup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>