<div class="flex-initial  flex align-items-center">

    <p-tag severity="secondary" size="small" styleClass="value">{{element.minor}}</p-tag>
    <p-tag severity="info" size="small" styleClass="threshold">Minor</p-tag>
    <p-tag severity="secondary" size="small" styleClass="value">{{element.major}}</p-tag>
    <p-tag severity="info" size="small" styleClass="threshold">Major</p-tag>
    <p-tag severity="secondary" size="small" styleClass="value">{{element.severe}}</p-tag>
    <p-tag severity="info" size="small" styleClass="threshold"> Severe</p-tag>
</div>